.canvas-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: red;
}

#pdfCanvas {
  border: 3px solid rgb(15, 151, 145);
  width: 100%;
  /* aspect-ratio: 1/1.414; */
}
