:host {
  position: relative;
  width: 100%;
  height: 100%;
}

.resume-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--color-background-contrast);
  color: var(--color-text-contrast);
}

.resume-viewer_displayer {
  position: relative;
  width: fit-content;
  min-width: 400px;
  height: calc(100dvh - 60px);
  grid-column: 2;
  display: grid;
  grid-template-rows: auto min( calc(100dvh - 150px), 800px) 1fr;
  gap: 15px;
  margin: auto;
}

.resume-viewer_displayer_header {
  position: relative;
  width: 100%;
  height: fit-content;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.resume-viewer_displayer_header_button {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: end;
  gap: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--color-text-contrast);
}

.editor-btn,
.template-btn {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.editor-btn {
  display: none;
}

.download-btn {
  padding: 8px 12px;
  background-color: var(--color-highlight-low-opacity);
}

.resume-viewer_displayer_article {
  position: relative;
  display: flex;
  height: 100%;
  aspect-ratio: 1/1.414;
  margin: 0 auto;
  text-align: center;
}


#pdfCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.resume-viewer_displayer_footer{
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-md);
  color: var(--color-text-contrast);
}

.resume-viewer_displayer_footer button {
  position: relative;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.resume-viewer_displayer_footer button i {
  -webkit-text-stroke: 1px;
  color: var(--color-text-contrast);
}

.resume-viewer_displayer_footer button:disabled {
  opacity: .2;
  cursor: default;
}

@media screen and (max-width: 1200px) {
  .resume-viewer_displayer_header {
    flex-direction: row;
  }
  .editor-btn {
    display: flex;
  }
}

@media screen and (max-width: 600px){
  .resume-viewer {
    overflow-y: auto;
  }
  .resume-viewer_displayer {
    width: 100%;
    min-width: 0;
    height: calc(100dvh - 60px);
    padding: 15px;
    grid-template-rows: auto auto 1fr;
  }

  .resume-viewer_displayer_article {
    height: fit-content;
    width: 100%;
  }
}
