<ng-container *ngIf="resume; else resumeNotFound">

  <section class="editor">

    <header class="editor_header">
      <a [routerLink]="['/dashboard']" class="editor_header_return-to-resumes">
        <i class="bi bi-arrow-left"></i>
        <p>Resumes</p>
      </a>
      <div class="editor_header_title-position">
        <app-input-text-expandable
        [inputValue]="resume.tag"
        [inputEmptyDefaultValue]="'Untitled'"
        (inputValueChange)="updateResumeTag($event)"
        ></app-input-text-expandable>
      </div>
    </header>

    <article class="editor_article">

      <!-- personal details -->
      <app-resume-personal-details
      [personalDetails]="resume.personalDetails"
      (personalDetailsChange)="updateResumePersonalDetails($event)"
      ></app-resume-personal-details>

      <!-- summary -->
      <app-resume-summary></app-resume-summary>

      <!-- employment -->
      <app-resume-section
      [section]="resume.employment"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- education -->
      <app-resume-section
      [section]="resume.education"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- skills -->
      <app-resume-section
      [section]="resume.skills"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- websites -->
      <app-resume-section
      [section]="resume.websites"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- certifications -->
      <app-resume-section
      [section]="resume.certifications"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- volunteering -->
      <app-resume-section
      [section]="resume.volunteering"
      (sectionChange)="updateResumeSection($event)"
      ></app-resume-section>

      <!-- TO-DO: Custome Sections -->

    </article>

    <!-- TO-DO: Future buttons to add Sections -->
    <!-- <footer class="editor_footer">
      Future add buttons
    </footer> -->

  </section>

  <section class="viewer">
    <app-resume-viewer [resume]="resume"></app-resume-viewer>
  </section>

</ng-container>

<ng-template #resumeNotFound>
  <p>NOT FOUND</p>
</ng-template>
