.editor {
  position: relative;
  width: 50%;
  height: fit-content;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  background-color: var(--color-background-secondary);
}

.editor_header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editor_header_return-to-resumes {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: 500;
  background-color: var(--color-highlight-low-opacity);
  color: var(--color-text-highlight);
}

.editor_header_title-position {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.editor_article {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.viewer {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

@media screen and (max-width: 1200px) {
  :host {
    grid-template-columns: 1fr;
  }

  .editor {
    padding: 20px;
    display: none;
  }

  .viewer {
    width: 100%;
  }
}
