<div class="resume-component">
  <header class="resume-component_header">
    <!-- <h2 class="resume-component_header_title">Personal Details</h2> -->
    <app-input-text-expandable
      [inputValue]="personalDetails.title"
      [inputEmptyDefaultValue]="'Personal Details'"
      (inputValueChange)="onTitleChange($event)"
    ></app-input-text-expandable>
  </header>
  <article class="resume-component-element_article">

    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="jobTitle">Job title</label>
      <input class="resume-component-element_input-section_input" id="jobTitle" type="text" placeholder="The role you want" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.jobTitle">
    </div>

    <span class="grid-skip"></span>

    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="firstName">First name</label>
      <input class="resume-component-element_input-section_input" id="firstName" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.firstName">
    </div>
    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="lastName">Last name</label>
      <input class="resume-component-element_input-section_input" id="lastName" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.lastName">
    </div>
    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="email">Email</label>
      <input class="resume-component-element_input-section_input" id="email" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.email">
    </div>
    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="phone">Phone</label>
      <input class="resume-component-element_input-section_input" id="phone" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.phone">
    </div>
    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="country">Country</label>
      <input class="resume-component-element_input-section_input" id="country" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.country">
    </div>
    <div class="resume-component-element_input-section">
      <label class="resume-component-element_input-section_label" for="city">City</label>
      <input class="resume-component-element_input-section_input" id="city" type="text" placeholder="" (blur)="onInputBlur()" [(ngModel)]="personalDetails.element.city">
    </div>

  </article>
</div>
