<div class="resume-component">
  <header class="resume-component_header">
    <h2 class="resume-component_header_title">{{ summary.title.default }}</h2>
  </header>

  <article class="resume-component-element_article">
    <div class="resume-component-element_input-section grid-2-columns">
      <label class="resume-component-element_input-section_label" for="summary">{{ summary.element.label }}</label>
      <textarea class="resume-component-element_input-section_textarea" id="summary" type="text"
        placeholder="" (blur)="onInputBlur()" [(ngModel)]="summary.element.value"></textarea>
    </div>
  </article>
</div>
