<div class="resume-component">
  <header class="resume-component_header">
    <h2 class="resume-component_header_title">Professional Summary</h2>
  </header>

  <article class="resume-component-element_article">
    <div class="resume-component-element_input-section grid-2-columns">
      <label class="resume-component-element_input-section_label" for="summary">Summary</label>
      <textarea class="resume-component-element_input-section_textarea" id="summary" type="text"
        placeholder=""></textarea>
    </div>
  </article>
</div>
